html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.legend__title {
  border: 3px solid rgb(15, 19, 24);
  border-radius: 10px 10px;
  padding: 10px;
  margin: -15px auto 7px;
  background-color: rgb(26, 18, 66);
  text-align: center;
  color: azure;
  width: 400px;
  box-shadow: 5px 5px 20px rgb(26, 18, 66);
}